/* Universal Styles */




/* Header */

.header {
 display: flex;
 height: 4rem;
 width: auto;
 justify-content: space-between;
 align-items: center;
}

.header .logo {
  display: flex;
  height: 2rem;
  margin-left: 1.5rem;
}

.header .logo span {
  display: flex;
  align-items: center;
  height: 2rem;
  text-transform: uppercase;
  padding-left: 0.25rem;
}

.header .desktop {
  margin-right: 1.5rem;
  display: flex;
  align-items: center;
}

.desktop ul {
  display: flex;
  list-style: none;
  flex-direction: row;
}

.desktop ul li {
  padding-right: 1rem;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 480px) {
.header .desktop, .header .logo {
    display: none;
  }

.mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
}

.mobile ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 100%;
  margin: 0;
  align-items: center;
  padding: 0;
  height: auto;
}

.mobile ul li {
  padding: 0.5rem;
}

}

/* Banner */

.banner {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   width: 100%;
}

.banner .left {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 60%;
  padding: 2rem 1.5rem;
  overflow: hidden;
}

.banner .left img {
  display: block;
  height: auto;
  max-width: 100%;
}

.banner .right {
  display: block;
  width: 37.5%;
  margin-right: 1.5rem;
  margin-left: 2.5rem;
}

.banner .right p {
  display: block;
  text-align: center;
  padding: 0.5rem 0rem;
  width: 75%;
}

@media only screen and (max-width: 480px) {
.banner {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.banner .left {
  width: 100%;
  padding: 0;
  margin: 0;
}

.banner .left img {
  width: 100%
  height: auto;
}

.banner .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 1rem;
}

.banner .right h1 {
  margin: 2rem 0;
}

.banner .right p {
  display: block;
  width: 100%;
  margin-bottom: 2rem;
}

}

/* information */

.banner2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.banner2 .left {
  display: block;
  width: 60%;
  padding: 2rem 1.5rem;
}

.left img {
  display: block;
  height: auto;
  max-width: 100%;
}

.left h2 {
  margin-bottom: 1.5rem;
}

.coursedetails {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 40%;
  padding: 1rem 1.5rem 2rem 0rem;
}

.details {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.details img {
  width: 35%;
  height: auto;
  padding: 1rem;
}

.details .text {
  width: 65%;
  padding: 1rem;
}

.details .text p {
  margin: 0.5rem 0rem;
}

/* Courses */

.banner3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.banner3 h2 {
  display: block;
  text-align: center;
  margin: 2rem 0;
  width: 100%;
}

.banner3 .courselist {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0rem 3.5rem;
  justify-content: center;
}

.courses {
  width: 25%;
  margin: 0rem 1rem 2rem 1rem;
}

.courses img{
  height: auto;
  max-width: 100%;
}

.courses .text {
  padding: 1rem 1rem 1.5rem 1rem;
}

.courses .text p, .courses .text h3 {
   margin: 0;
}

.courses .text .upper {
  margin: 0.5rem 0rem;
  text-transform: uppercase;
}

/* Thesis */

.banner4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.banner4 h2 {
  text-align: center;
  display: block;
  margin: 2rem auto;
}

.exhibit {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.exhibit .urban {
  width: 60%;
  margin: 2rem 1.5rem;
}

.exhibit .urban video {
  display: block;
  max-width: 100%;
  height: auto;
}

.exhibit .right {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.exhibit .right .thesis {
  display: flex;
  align-items: center;
}

.exhibit .right .thesis img {
  display: block;
  width: 35%;
  height: auto;
  padding: 1rem;
}

.exhibit .right .thesis .text {
  width: 65%;
  padding-right: 1.5rem;
}

/* Footer */

footer {
  display: flex;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.copyright {
  margin: 0 1.5rem;
  width: 50%;
}

.copyright p {
  margin: 0;
}

.terms {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  align-items: flex-start;
}

.terms ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
}

.terms ul li {
  padding: 0 0.5rem;
}
